# Default ignored files
/shelf/
/.idea/workspace.xml
# Игнорируем папку сборки
out/

# Игнорируем папку с зависимостями Maven
target/

# Игнорируем папку с IDE-специфичными файлами
.idea/

# Игнорируем файлы с настройками компиляции
*.class

# Игнорируем файлы с настройками проекта
*.iml
*.ipr
*.iws

# Игнорируем файлы журналов
*.log

# Игнорируем файлы временных данных
*.tmp